<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speaker recognition</title>
    <link rel="stylesheet" type= "text/css" href="../styles/form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <nav class="menu" >
        <li ><a href="Enroll.html">Enroll</a></li>  
        <li ><a href="list.html">List</a></li>  
        <li ><a href="" class="active" >Identification</a></li>  
    </nav>

    <div class="col">
            <br>
            <h2>Identify</h2>
            <br><br>
            <p>
                <label>Voice ID :</label>
                <button class="btn-grad" id="startRecording_" >Start Identification</button>
                <button class="btn-grad" id="stopRecording_" disabled style="display: none">Stop Identification</button>
                <input type="hidden" id="hidden_input">
            </p>
    </div>
    <span class="result" id="verify_output"></span>
    <span class="result" id="verify_output1"></span>
    <span class="result" id="verify_output2"></span>
</body>
<script src="../scripts/identification.js"></script>
</html>