<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speaker recognition</title>
    <link rel="stylesheet" type= "text/css" href="../styles/form.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <nav class="menu" >
        <li ><a href="Enroll.html">Enroll</a></li>
        <li ><a class="active" href="">List</a></li> 
        <li ><a href="Identification.html">Identification</a></li>
    </nav>
    <section class="container">
        <section style="width: 100%; margin-left: 5%;" class="col-1"><input type="text" id="search" placeholder="Type to search"></section>
        <section class="col-2"><a href="#" id="trigger"><img style="width: 6%;  margin-top: 0%;" src="../resources/Refresh.png"/></a></section>
    </section>
    <div class="tablegen">
        <table id="table">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th style="background-color:white; border:none; width: 20%;"><div style="visibility: hidden">delete button</div></th>
                </tr>
            </thead>
            <tbody>
                <script>
                    $(document).ready(function () {
                        $.getJSON("users.json", 
                                function (data) {
                            var user = '';
                            
                            $.each(data, function (key, value) {
                                user += '<tr class="row">';
                                user += '<td>' + 
                                    value.last_name + '</td>';    
                                user += '<td>' + 
                                    value.first_name + '<input name="radio" type="image" src="../resources/images.png" class="delbutton" id="'+ value.id +'"/>'+'</td>';
                                user += '</tr>';
                            });
                                
                            $('#table').append(user);
                        });
                    });
                </script>
            </tbody>
        </table>
    </div>
            <br>
            <span id="enroll_output"></span>
    <br>
    <span class="result" id="verify_output"></span>
</body>
<script>
    navigator
        .mediaDevices

    function refreshList(){
        var form = new FormData();
        $.ajax({
            type: 'POST',
            url: '/getlist',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        }).done(function(data) {
            console.log(data);
        });
        window.location.reload();
    }
    //Refresh button 
    trigger.onclick = e => {
        refreshList()
    };
    
    //Radio button click 
    $('#table').on('click', 'input[name="radio"]',function() { 
        var form = new FormData();
        let value = this.getAttribute('id');
        form.append('user_id',value);
        $.ajax({
            type: 'POST',
            url: '/delete',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        }).done(function(data) {
            console.log(data);
        });
        refreshList()
    });

    //Filter table
    $('#search').keyup(function() {
        var $rows = $('.row');
        var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
            reg = RegExp(val, 'i'),
            text;

        $rows.show().filter(function() {
            text = $(this).text().replace(/\s+/g, ' ');
            return !reg.test(text);
        }).hide();
    });

    //Sort table
    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("table");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[0];
                y = rows[i + 1].getElementsByTagName("td")[0];
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            }
        }
    };

    $(document).ready(function(){
        setTimeout(() => {sortTable() }, 100);
    });

</script>
</html>